* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  background-color: #000;
}

.header {
  display: flex;
  /* flex-start
    center
    flex-end */
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul > li {
  padding: 15px;
}

.nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.banner {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3em;
  font-weight: 500;
  color: white;
  position: relative; left: 50px;
}

.resume {
  width: 45%;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 25px;
  color: white;
  position: relative; left: 50px;
}

.btn-primary {
  background-color: #ff0534;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  position: relative; left: 50px;
  border-radius: 10px;
  font-weight: bold
  ;
}

.img-profile {
  width: 243px;
  height: 243px;
  border-radius: 50%;
  position: relative; right: 50px;
}

.section-works {
  max-width: 800px;
  margin: auto;
}

.card {
  display: flex;
}

.card div img {
  width: 246px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.text-works {
  font-size: 1em;
  margin-bottom: 30px;
  font-weight: 300;
}

.container-detail {
  margin-left: 20px;
}

.container-detail p {
  margin-top: 20px;
  width: 100% !important;
}

.label-dark {
  background-color: #faed27;
  color: #000;
  border-radius: 16px;
  padding: 5px 10px;
  font-weight: bold;
}

.text-light {
  color: #8695a4;
}

hr {
  height: 0.5px;
  background-color: #ff0534;
  border: 1.5px solid #ff0534;
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.link-portafolio {
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}

.link-portafolio:hover {
  color: #ff6464;
  text-decoration: underline;
}

.titulo-reto {
  color: white;
}